<div class="input-group">
    {{#each fields}}
        {{{ modPartial _ref this 'border-secondary' 'text-white' 'bg-transparent'}}}
    {{/each}}
    <div class="input-group-append">
        <button class="btn btn-primary btn-pill rounded-0" type="submit" >
            {{submitButtonLabel}}
        </button>
    </div>
</div>